@page "/notauthorised"
@using SoftwareProject.Client.Layout
@layout WelcomePageLayout

<PageTitle>Welcome</PageTitle>

<div style="height: 100%" class="is-align-content-center is-align-items-center is-flex is-flex-wrap-wrap is-flex-direction-column">
    <MudContainer MaxWidth="MaxWidth.Large" Class="py-8 px-4 text-center d-flex flex-column justify-center align-center">
        <!-- Main Heading -->
        <MudText Typo="Typo.h1" Align="Align.Center" Class="mb-4">
            YOU ARE NOT ALLOWED TO BE HERE!
        </MudText>
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">
            You are not logged in. Please log in to continue.
        </MudText>
    </MudContainer>
    
    <MudSpacer></MudSpacer>

    <MudPaper Class="p-4 d-flex is-flex-direction-row is-align-items-center" Height="4rem" Width="100%">
        Greggs Group (Seb, Oscar, Dan, Matt) - 2025
        <MudSpacer></MudSpacer>
    </MudPaper>
</div>
