@page "/"
@using SoftwareProject.Components.Layout
@layout WelcomePageLayout

<PageTitle>Welcome</PageTitle>

<div class="is-align-content-center is-flex is-flex-wrap-wrap is-flex-direction-column">
    <MudText Typo="Typo.h1">Welcome to Novachat</MudText>
    <MudText> a freaking epic site</MudText>
</div>
