@page "/"
@using SoftwareProject.Components.Layout
@layout WelcomePageLayout

<PageTitle>Welcome</PageTitle>

<div class="is-align-content-center is-align-items-center is-flex is-flex-wrap-wrap is-flex-direction-column">
    <MudText Typo="Typo.h1">Welcome to Novachat</MudText>
    <MudText>We make AI awesome!!!!</MudText>
    <br/>
    <MudText Typo="Typo.h2" Class="mt-6">So what is Novachat?</MudText>
    <MudText>Yeah so erm I don't fuckin know. We haven't decided yet</MudText>
    <br/>
    <MudText Typo="Typo.h2" Class="mt-6">Seems pretty fuckin stupid</MudText>
    <MudText>Dude I don't care you went on this site</MudText>
</div>
